body {
  background-color: darkgray;
}

.container {
  width: 1500px;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.evelator__floor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evelator__floor_str {
  background-color: white;
  border: 10px white solid;
  margin-bottom: 10px;
}

.evelator__floor_str h2 {
  color: black;
  font-size: 45px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

.evelator__floor_str img {
  width: 700px;
  height: 700px;
}

.evelator__btn_right {
  background-color: #b68c69;
  width: 250px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: space-evenly;
  top: 120px;
  right: 70px;
  border: 7px solid white;
  border-radius: 35px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.evelator__btn_right button {
  font-size: 30px;
  color: white;
  background-color: #b18f75;
  border: 5px solid white;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 10px;
}

.evelator__btn_right button:hover {
  background-color: darkgray;
  cursor: pointer;
  transition: 0.5s;
}

.evelator__btn_left {
  background-color: #b68c69;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 120px;
  left: 70px;
  border: 7px solid white;
  border-radius: 35px;
}

.evelator__btn_left button {
  font-size: 30px;
  font-weight: 900;
  color: white;
  width: 200px;
  height: 200px;
  border-radius: 55px;
  background-color: #b18f75;
  border: 5px solid white;
  margin: 20px;
}

.evelator__btn_left button:hover {
  background-color: darkgray;
  transition: 0.5s;
  cursor: pointer;
}
